.box {
    border: rgb(203, 243, 227) solid 2px;
    padding: 5px;
    text-align: center;
    font-size: smaller;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    /* border-top: 4px solid black; */
    font-variant: small-caps;
    
}