body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aqua;
    color: black;
    font-weight: 700;
}

h1 {
    font-size: x-large;
    text-align: center;
    background-color: burlywood;
    color: darkblue;
    
}