body {
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(#b1f5d9, rgb(228, 228, 137));
    color: black;
    font-weight: 700;
    font-variant: small-caps;
}

h1 {
    padding-left:50px;
    padding-right:50px ;
    margin-left: 50px;
    margin-right: 50px;
    font-size: xx-large;
    text-align: center;
    background-color: burlywood;
    color: darkblue;
    /* border: darkblue solid 3px; */
    position: relative;
    display: block;
    line-height: 40px;
    font-variant: small-caps;
    border-left: 10px rgb(126, 48, 4) solid;
    border-right: 10px rgb(126, 48, 4) solid;
}

.h1 {
    position: relative;
    text-align: center;
    position: center;
}

h2 {
    padding: 10px;
    font-size:x-large;
    background-color: burlywood;
    color: darkblue;
    border: darkblue solid 2px;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    line-height: 50px;
    width: fit-content;
    font-variant: small-caps;
}
p {
    color: saddlebrown;
    font-size: large;
}

.img {
    float:right;
    border-top: 2px chocolate solid;
    border-left: 2px solid chocolate;
    border-bottom:chocolate 5px solid;
    border-right: chocolate 5px solid;
}

footer {
    background-color: slategray;
    text-align: center;
    line-height: 40px;
    border: black solid 2px;
}

a{
    text-decoration: none;
}


@media screen and (max-width:500px){
    h1{
        margin-left:20px ;
        margin-right: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

